@import '../../styles/variables.css';

.header {
    background-color: var(--bg-color);
    height: 150px;
    font-family: var(--main-font-family);
    font-size: 30px;
}

.wrapper {
    max-width: 1200px;
	margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

.nav {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

/*.link {
    color: var(--main-fontcolor);
}

.link:hover {
    color: var(--blue-violet-color);
}*/